<?xml version="1.0" encoding="UTF-8"?>
<config>
	<default-dislclass></default-dislclass>
	<default-observed>false</default-observed>
	<dexes> 
		<dex>
			<name>framework.jar</name>
			<dislclass>output/build/analysis/ch/usi/dag/ipc/disl/PermissionDiSLClass.class</dislclass>
		</dex>
		<dex>
			<name>de.ecspride-1.apk</name>
			<bypass>false</bypass>
			<!-- <dislclass>output/build/analysis/ch/usi/dag/ipc/disl/MethodEntryDiSLClass.class,output/build/analysis/ch/usi/dag/ipc/disl/MethodCallDiSLClass.class</dislclass> -->
			<dislclass>output/build/analysis/ch/usi/dag/ipc/disl/MethodEntryDiSLClass.class</dislclass>
		</dex>
		<dex>
			<name>Reflection_Reflection4.apk</name>
			<bypass>false</bypass>
			<dislclass>output/build/analysis/ch/usi/dag/ipc/disl/MethodEntryDiSLClass.class,output/build/analysis/ch/usi/dag/ipc/disl/MethodCallDiSLClass.class</dislclass>
		</dex>
		<!-- <dex>
			<name>Contacts.apk</name>
			<bypass>false</bypass>
			<dislclass>output/build/analysis/ch/usi/dag/ipc/disl/MethodEntryDiSLClass.class,output/build/analysis/ch/usi/dag/ipc/disl/MethodCallDiSLClass.class</dislclass>
		</dex> -->
	</dexes>
	<procs>
		<proc>
			<procname>system_server</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.phone</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>de.ecspride</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>net.learn2develop.SMSMessaging</procname>
			<isobserved>true</isobserved>
		</proc>
	</procs>
</config>
