<?xml version="1.0" encoding="UTF-8"?>
<config>
	<default-dislclass></default-dislclass>
	<default-observed>false</default-observed>
	<dexes>
		<dex>
			<name>core.jar</name>
			<bypass>false</bypass>
			<dislclass>output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/NetworkDiSLClass.class</dislclass>
		</dex>
		<dex>
			<name>com.fdhgkjhrtjkjbx.model-1.apk</name>
			<bypass>false</bypass>
			<dislclass>output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/MethodEntryDiSLClass.class,output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/TelephonyDiSLClass.class</dislclass>
		</dex>
		<dex>
			<name>zkl.jar</name>
			<bypass>false</bypass>
			<dislclass>output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/MethodEntryDiSLClass.class,output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/TelephonyDiSLClass.class</dislclass>
		</dex>
		<dex>
			<name>bvfg.zip</name>
			<bypass>false</bypass>
			<dislclass>output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/MethodEntryDiSLClass.class,output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/TelephonyDiSLClass.class</dislclass>
		</dex>
		<dex>
			<name>classes.jar</name>
			<bypass>false</bypass>
			<dislclass>output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/MethodEntryDiSLClass.class,output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/TelephonyDiSLClass.class</dislclass>
		</dex>
	</dexes>
	<procs>
	</procs>
</config>
