<?xml version="1.0" encoding="UTF-8"?>
<config>
	<default-dislclass>output/build/analysis/ch/usi/dag/icc/disl/DiSLClass.class</default-dislclass>
	<default-observed>true</default-observed>
	<dexes> 
		<dex>
			<name>WriteFile.apk</name>
			<isbootstrap>false</isbootstrap>
			<dislclass>output/build/analysis/ch/usi/dag/icc/disl/PermissionDiSLClass.class</dislclass>
			<bypass>false</bypass>
		</dex>
		<dex>
			<name>SendSMS.apk</name>
			<isbootstrap>false</isbootstrap>
			<dislclass>output/build/analysis/ch/usi/dag/icc/disl/PermissionDiSLClass.class</dislclass>
			<bypass>false</bypass>
		</dex>
		<dex>
			<name>dynamicloaded.jar</name>
			<isbootstrap>false</isbootstrap>
			<dislclass>output/build/analysis/ch/usi/dag/icc/disl/PermissionDiSLClass.class</dislclass>
			<bypass>false</bypass>
		</dex>
		<dex>
			<name>Echoer.apk</name>
			<isbootstrap>false</isbootstrap>
			<dislclass>output/build/analysis/ch/usi/dag/icc/disl/PermissionDiSLClass.class</dislclass>
			<bypass>false</bypass>
		</dex>
		<dex>
			<name>de.ecspride-1.apk</name>
			<isbootstrap>false</isbootstrap>
			<dislclass>output/build/analysis/ch/usi/dag/icc/disl/PermissionDiSLClass.class</dislclass>
		</dex>
		<dex>
			<name>Contacts.apk</name>
			<isbootstrap>false</isbootstrap>
		</dex>
		<dex>
			<name>Browser.apk</name>
			<isbootstrap>false</isbootstrap>
			<dislclass>output/build/analysis/ch/usi/dag/icc/disl/PermissionDiSLClass.class</dislclass>
		</dex>
		<dex>
			<name>com.inspur.test2-1.apk</name>
			<isbootstrap>false</isbootstrap>
			<dislclass>output/build/analysis/ch/usi/dag/icc/disl/PermissionDiSLClass.class</dislclass>
		</dex>
		<dex>
			<name>AndroidPhoneContactsExample.apk</name>
			<isbootstrap>false</isbootstrap>
			<dislclass>output/build/analysis/ch/usi/dag/icc/disl/PermissionDiSLClass.class</dislclass>
		</dex>
		<dex>
			<name>core.jar</name>
			<isbootstrap>true</isbootstrap>
			<dislclass></dislclass>
		</dex>
		<dex>
			<name>core-junit.jar</name>
			<isbootstrap>true</isbootstrap>
		</dex>
		<dex>
			<name>bouncycastle.jar</name>
			<isbootstrap>true</isbootstrap>
		</dex>
		<dex>
			<name>ext.jar</name>
			<isbootstrap>true</isbootstrap>
		</dex>
		<dex>
			<name>framework.jar</name>
			<isbootstrap>true</isbootstrap>
			<!--<dislclass>output/build/analysis/ch/usi/dag/icc/disl/PermissionDiSLClass.class</dislclass>-->
		</dex>
		<dex>
			<name>services.jar</name>
			<isbootstrap>true</isbootstrap>
		</dex>
		<dex>
			<name>apache-xml.jar</name>
			<isbootstrap>true</isbootstrap>
		</dex>
	</dexes>
	<procs>
		<proc>
			<procname>org.cert.WriteFile</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>org.cert.writefile</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>org.cert.sendsms</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>org.cert.echoer</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.typ3studios.easybutton</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>de.ecspride</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.browser</procname>
			<dexname>Browser.apk</dexname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.inspur.test2</procname>
			<dexname>com.inspur.test2-1.apk</dexname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.javacodegeeks.android.androidphonecontactsexample</procname>
			<dexname>AndroidPhoneContactsExample.apk</dexname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>zygote</procname>
			<isobserved>false</isobserved>
		</proc>
		<proc>
			<procname>system_server</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>android.process.media</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.providers.calendar</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>android.process.acore</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.systemui</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.inputmethod.latin</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.phone</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.settings</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>android.process.acore</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.provision</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.smspush</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.gallery3d</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.launcher</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.inputmethod.latin</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.voicedialer</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.phone</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.contacts</procname>
			<isobserved>true</isobserved>
			<dexname>Contacts.apk</dexname>
		</proc>
		<proc>
			<procname>android.process.media</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.deskclock</procname>
			<isobserved>true</isobserved>
		</proc>
		<proc>
			<procname>com.android.exchange</procname>
			<isobserved>true</isobserved>
		</proc>
	</procs>
</config>
