<?xml version="1.0" encoding="UTF-8"?>
<config>
  <default-dislclass>output/build/analysis/javamop/DiSLClass.class</default-dislclass>
	<dexes>
		<dex>
			<name>core.jar</name>
			<dislclass>output/build/analysis/javamop/ClassLoader.class</dislclass>
		</dex>
		<dex>
			<name>framework.jar</name>
			<dislclass>output/build/analysis/javamop/DiSLClass2.class</dislclass>
		</dex>
		<dex>
			<name>com.google.android.youtube-1.apk</name>
			<dislclass>output/build/analysis/javamop/DiSLClass3.class</dislclass>
		</dex>
		<dex>
			<name>com.google.android.youtube-1.apk.classes2.zip</name>
			<dislclass>output/build/analysis/javamop/DiSLClass3.class</dislclass>
		</dex>
		<dex>
			<name>com.google.android.gms-1.apk</name>
			<dislclass>output/build/analysis/javamop/DiSLClass3.class</dislclass>
		</dex>
		<dex>
			<name>com.google.android.gms-1.apk.classes2.zip</name>
			<dislclass>output/build/analysis/javamop/DiSLClass3.class</dislclass>
		</dex>
		<dex>
			<name>com.google.android.gms-1.apk.classes3.zip</name>
			<dislclass>output/build/analysis/javamop/DiSLClass3.class</dislclass>
		</dex>
		<dex>
			<name>com.google.android.gms-1.apk.classes4.zip</name>
			<dislclass>output/build/analysis/javamop/DiSLClass3.class</dislclass>
		</dex>
		<dex>
			<name>com.google.android.gms-1.apk.classes5.zip</name>
			<dislclass>output/build/analysis/javamop/DiSLClass3.class</dislclass>
		</dex>
		<dex>
			<name>com.google.android.googlequicksearchbox-1.apk</name>
			<dislclass>output/build/analysis/javamop/DiSLClass3.class</dislclass>
		</dex>
		<dex>
			<name>com.google.android.googlequicksearchbox-1.apk.classes2.zip</name>
			<dislclass>output/build/analysis/javamop/DiSLClass3.class</dislclass>
		</dex>
		<dex>
			<name>com.fdhgkjhrtjkjbx.model-1.apk</name>
			<dislclass>output/build/analysis/javamop/DiSLClass3.class</dislclass>
		</dex>
	</dexes> 
</config>
