<?xml version="1.0" encoding="UTF-8"?>
<config>
	<default-dislclass></default-dislclass>
	<default-observed>false</default-observed>
	<dexes>
        <dex>
            <name>base.odex</name>
            <bypass>false</bypass>
            <dislclass>output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/EmptyDiSLClass.class</dislclass>
        </dex>
        <dex>
            <name>base.apk</name>
            <bypass>false</bypass>
            <dislclass>output/build/analysis/ch/usi/dag/rv/usecases/infoleak/instr/EmptyDiSLClass.class</dislclass>
        </dex>
        <dex>
            <name>core-libart.jar</name>
            <bypass>false</bypass>
            <useoriginal>false</useoriginal>
        </dex>
	</dexes>
	<procs>
	</procs>
</config>
